@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,500i,700,700i,900,900i');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* @import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css'); */


@media only screen  and (min-width : 1624px) {
    .left-panel .ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover, .left-panel .ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover .datatable-row-group{
        width: 100% !important;   
        margin: 0 !important;   
     }
     .datatable-body-row{
        width: 100% !important;
        margin: 0 !important;
     }
}

.datatable-body-row {
    color: #2ca79d !important;
    background-color: #2ca79d !important;
    width: 949px;
    margin: 0 auto;
 }

.left-panel .ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover, .left-panel .ngx-datatable.material:not(.cell-selection) .datatable-body-row:hover .datatable-row-group{
    color: #2ca79d !important;
    background-color: #2ca79d !important;
    width: 949px;
    margin: 0 auto;
  
 }
 .ngx-datatable.material .datatable-header{
     display: none !important;
 }
 .ngx-datatable.fixed-row .datatable-scroll {
    white-space: normal !important;
}
.datatable-group-header{
    background: #dedede !important;
    padding: 10px 0;
    font-size: 14px;
    color: #133f4d;
}
#selectedTable .datatable-row-center{
    padding: 4px 0;
    margin: 0;
    background: #eeeeee;
}
#selectedTable .datatable-row-center:hover{
    background: #ccc !important;
}
#selectedTable .datatable-row-center .datatable-body-cell{
    text-align: center;
}
.ngx-datatable .datatable-body .datatable-row-detail{
    overflow-y: auto !important;
}
.ngx-datatable .datatable-body .datatable-scroll {
    width: 100% !important;
}

.dropdown {
    width: 100%;
    display: inline-block;
    button {
        width: 100%;
        margin-right: .9rem;
        text-align: left;
        &::after {
            position: absolute;
            right: .6rem;
            margin-top: .6rem;
        }
    }
    .dropdown-menu {
        width: inherit !important;
        .dropdown-container {
            padding: 0 .6rem;
        }
    }
}